//
// Run in the box style sheet
//

@import "variables.less";
@import "mixins.less";

#legal {
    li {
        display: inline;
        margin-right: 0.5em;
    }
}

.billboard {
    #gradient > .radial-ellipse(@white, @grayLight2);
    border-bottom: 1px solid @gray2;
    padding: 60px;
}

footer {
    font-size: 0.90em;
}

.box {
    background: darken(@greenLight, 10%);
    padding: 0.2em;
    .border-radius(3px);
}

h1 {
    margin-bottom: 1em;
}

.hero-unit {
    h1 {
        margin-bottom: 0.5em;
    }
}

.asteriskField {
    display: none;
}

.small {
    font-size: 0.80em;
}

.big {
    font-size: 3em;
}

.space-top {
    margin-top: 1em;
}

.space-left {
    margin-left: 0.5em;
}

.space-right {
    margin-right: 0.5em;
}

.no-margin {
    margin: 0;
}

.collapse-bottom {
    margin-bottom: 0.4em;
}

.icon {
    margin-top: 1em;
}

form.signup {
    margin: 0;

    p {
        margin: 0;
    }

    input {
        .box-sizing(border-box);
        width: 100%;
        height: 100%;
        padding: 0.5em;
        font-size: 1.1em;
    }
}

ul.stats {
    li {
        margin-bottom: 0.5em;
    }

    strong {
        font-size: 1.3em;
    }
}

.gray {
    color: @gray;
}

.projects,
.runs {
    li {
        border-bottom: 1px solid @grayLight2;
        padding: 0.4em;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            background: @grayLighter;
        }

        a {
            font-weight: @headingsFontWeight;
            font-size: 1.1em;
        }
    }
}

.runs {
    li a {
        font-weight: normal;
        font-size: @baseFontSize;
    }
}

.icon-small:before {
  vertical-align: middle;
  font-size: 2/3em;
}

a.undecorated:hover {
    text-decoration: none;
}

.stream {
	border-bottom: 1px solid @grayLight2;
	padding: 0.6em;

	&:last-child {
        border-bottom: none;
    }

    a {
        font-weight: @headingsFontWeight;
    }

    .span1 {
    	line-height: 1.3em;
        font-size: 2em;
        color: @grayLight2;
    }

    small {
        display: block;
        line-height: 1em;
    }
}

.loading {
	padding-left: 20px;
    background: url('../img/loading.gif') no-repeat center left;
}

.nav-tabs {
    font-weight: 400;
}

.tiny {
    font-size: 0.4em;
    vertical-align: middle;
}

.bolder {
    font-weight: @headingsFontWeight;
}

.modal-body .unfragmented {
    display: none;
}

.errorlist {
	list-style: none;
    color: @errorText;
    margin: 0;
}
