{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load rbx %}

{% block title %}{% title box %}{% endblock %}

{% block content %}
<div class="billboard">
  <div class="container">
    <h1 class="collapse-bottom">
      <i class="icon-{% if box.project.public %}un{% endif %}lock icon-small"></i>
      {{ box }}
      {% if box.project|is_editable:user %}
      <a href="{{ box.edit_link }}"
         title="Edit box" class="space-left undecorated modal-fragment"
         data-target="#edit-modal" rel="tooltip">
      <i class="icon-pencil icon-small"></i> <span class="tiny hidden-desktop">Edit box</span></a>
      {% endif %}
    </h1>
    <div class="row-fluid">
      <div class="span7">
        <ul class="unstyled space-top">
          <li><i class="icon-{{ box.project.authors|length|pluralize:"user,group" }}"></i> By
            {% for author in box.project.authors %}
              {{ author|profile_url:author.user.username }}{% if not forloop.last %},{% endif %}
            {% endfor %}
          </li>
          <li><i class="icon-book"></i> <a href="{{ box.project.link }}">{{ box.project }}</a></li>
          <li><i class="icon-beaker"></i> 
          {% if box.run_set.latest %}
          Last run {{ box.run_set.latest.launched|timesince }} ago
          {% else %}
          No run yet
          {% endif %}
          </li>
        </ul>
      </div>
      <div class="span5">
        <ul class="stats unstyled">
          <li>
            <i class="icon-cogs"></i>
            <strong>{{ box.run_set.values|length }}</strong>
            <span>run{{ box.run_set.values|length|pluralize }}</span>
          </li>
          <li>
            <i class="icon-time"></i>
            {% if box.avg_duration %}
            Avg. {{ box.avg_duration|elapsed }} long
            {% else %}
            No avg. duration
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    {% if box.description %}<p>{{ box.description }}</p>{% endif %}
  </div>
</div>
<div class="container space-top">
    <div class="row-fluid">
      <div class="span7">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#configure"><i class="icon-beaker"></i> Configure</a></li>
            <li><a href="#details"><i class="icon-file"></i> Run details</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="configure">
                {% crispy launch %}
            </div>
            <div class="tab-pane" id="details">
                <div class="alert">
                  Select a run in the above pane to view it details and results.
                  <i class="icon-circle-arrow-right hidden-phone pull-right icon-large"></i>
                  <i class="icon-circle-arrow-down visible-phone pull-right icon-large"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="span5">
        {% include "runs_pane.html" with runs=box.runs %}
      </div>
    </div>
</div>

<div id="edit-modal" class="modal hide fade" tabindex="-1" role="dialog"
      aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editModalLabel">Edit box</h3>
  </div>
  <div class="modal-body">
  <p class="loading">Loading content...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary submit-change">Save changes</button>
  </div>
</div>

<script type="text/html" id="tpl_add_param_choice">
    <ul class="squared" id="param_type">
        <li><a href="#" data-type="number">Number</a></li>
        <li><a href="#" data-type="text">Text</a></li>
    </ul>
</script>
{% endblock %}
