{% extends "base.html" %}
{% load gravatar %}
{% load url from future %}

{% block content %}
<div class="container space-top">
  <div class="row-fluid">
    <div class="span8">
      <h1>News feed</h1>

      {% for event in stream %}
      <div class="stream">
        <p class="pull-left space-right">
          {% gravatar event.actor.gravatar 32 %}
        </p>
        <p class="no-margin">
          {{ event.actor|profile_url:event.actor.user.username }}
          {{ event.verb }} {{ event.target }}
          <small>{{ event.timesince }} ago</small>
        </p>
      </div>
      {% empty %}
      <p>Start following some user to get some news.</p>
      {% endfor %}

    </div>
    <div class="span4">
      <h1>Projects</h1>
      <ul class="unstyled projects">
        {% for project in projects %}
        <li><i class="gray icon-{% if project.public %}un{% endif %}lock"></i>
          <a href="{% url "project" project.owner.user.username project.slug %}">{{ project.name }}</a>
        </li>
        {% empty %}
        <li>No project yet, try <a href="{% url "new_project" %}">create one</a>!</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
