{% extends "base.html" %}
{% load url from future %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="billboard">
      <div class="container">
        <div class="row-fluid">
          <div class="{% if user.is_authenticated %}offset2{% endif %} span8 hero-unit">
            <h1>Build, test, share, everywhere</h1>
            <p>Powerful cloud based environment to build, execute and test
            application for open source and private projects.</p>
          </div>
        {% if not user.is_authenticated %}
          <div class="span4 well">
            <form method="post" action="{% url "home" %}">
              <h4>Become a beta user!</h4>
              {% csrf_token %}
              {{ request_invite.as_p }}
              <input type="submit" class="btn btn-primary btn-large btn-block"
                     value="Request an invitation" />
            </form>
          </div>
        {% endif %}
        </div>
      </div>
    </div>

    <div class="container center">
      <div class="row">
        <div class="span4">
          <p class="icon big"><i class="icon-cogs icon-large"></i></p>
          <h2>Setup execution environment</h2>
          <p>
            Configure execution box with your own development
            environment. There is no lock-in, you are free to use
            platform and technologies you want.
          </p>
        </div>
        <div class="span4">
          <p class="icon big"><i class="icon-wrench icon-large"></i></p>
          <h2>Define application parameters</h2>
          <p>
            Explain which parameters can be set when running your
            application. Viewers and contributors will just have to select
            options they wants in order run you program.
        </div>
        <div class="span4">
          <p class="icon big"><i class="icon-tasks icon-large"></i></p>
          <h2>Browse execution output</h2>
          <p>
            Disseminate application run results for given parameters.
            Helpful for scientific experimentations but also for
            development debugging and testing
          </p>
        </div>
      </div>
    </div>
{% endblock %}
