{% extends "base.html" %}
{% load gravatar %}
{% load activity_tags %}
{% load url from future %}
{% load rbx %}

{% block title %}{% title profile %}{% endblock %}

{% block content %}
<div class="billboard">
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
        <img src="{% gravatar_url profile.gravatar 170 %}" 
             alt="{{ profile }}'s picture" class="img-polaroid"
             width="170" height="170" />
      </div>
      <div class="span9">
        <h1 class="collapse-bottom">{{ profile }}
          {% if user == profile.user %}
          <a href="{% url "settings_profile" %}" rel="tooltip" title="Account settings"
          class="small space-left undecorated">
          <i class="icon-wrench icon-small"></i> <span class="tiny hidden-desktop">Account settings</span></a>
          {% elif user.is_authenticated %}
          <a href="{% url "follow" profile.user.username %}" rel="tooltip" 
              title="{% if user|is_following:profile %}Unf{% else %}F{% endif %}ollow {{ profile }}"
              class="small space-left undecorated">
          <i class="icon-heart{% if user|is_following:profile %}-empty{% endif %}
              icon-small"></i> <span class="tiny hidden-desktop">
              {% if user|is_following:profile %}Unf{% else %}F{% endif %}ollow {{ profile }}</span></a>
          {% endif %}
        </h1>
        <div class="row-fluid">
          <div class="span7">
            <ul class="unstyled">
              {% if profile.company  %}
              <li><i class="icon-briefcase"></i> {{ profile.company }}</li>
              {% endif %}
              {% if profile.location  %}
              <li><i class="icon-map-marker"></i> {{ profile.location }}</li>
              {% endif %}
              {% if profile.website  %}
              <li><i class="icon-globe"></i> <a href="{{ profile.website }}">{{ profile.website }}</a></li>
              {% endif %}
              {% if user.is_authenticated %}
              <li><i class="icon-envelope"></i> <a href="mailto:{{ profile.user.email }}">
              {{ profile.user.email }}</a></li>
              {% endif %}
              <li><i class="icon-time"></i> Joined on
              {{ profile.user.date_joined|date:"N j, Y" }}</li>
            </ul>
          </div>
          <div class="span2">
            <ul class="stats unstyled">
              <li>
                <a href="#followers">
                <i class="icon-user"></i>
                <strong>{{ profile.followers|length }}</strong>
                <span>follower{{ profile.followers|length|pluralize }}</span>
                </a>
              </li>
              <li>
                <a href="#following">
                <i class="icon-heart"></i>
                <strong>{{ profile.following|length }}</strong>
                <span>following</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="span2">
            <ul class="stats unstyled">
              <li>
                <a href="#projects">
                <i class="icon-book"></i>
                <strong>{{ profile.projects|restrict:user|length }}</strong>
                <span>project{{ profile.projects|restrict:user|length|pluralize }}</span>
                </a>
              </li>
              <li>
                <a href="#starred">
                <i class="icon-star"></i>
                <strong>{{ profile.starred|restrict:user|length }}</strong>
                <span>starred</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container space-top">
  <div class="row-fluid">
      <div class="span7">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#activity"><i class="icon-bullhorn"></i>  Activity</a></li>
        <li><a href="#followers"><i class="icon-user"></i> Followers</a></li>
        <li><a href="#following"><i class="icon-heart"></i> Following</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="activity">
            <p>No public activity not available right now.</p>
            <!--
            {# for action in stream %}
                {% if action.target_content_type.name == "project" %}
                <div class="row-fluid stream">
                <div class="span1 visible-desktop">
                    <i class="pull-left icon-plus-sign"></i>
                </div>
                <div class="span11">
                    <a href="{% url "profile" action.actor.user %}">{{ action.actor }}</a>
                    {{ action.verb }}
                    {{ action.target_content_type.name }}
                    <a href="{% url "project" action.actor.user action.target.slug %}">
                    {{ action.target.name }}
                    </a>
                    <small>{{ action.timesince }} ago</small>
                </div>
                </div>
                {% endif %}
            {# empty %}
            <p class="stream">{{ profile }} has no public activity.</p>
            {% endfor #}
            -->
          </div>
          <div class="tab-pane" id="followers">
            {% for follower in profile.followers %}
            <div class="stream">
            <p class="pull-left space-right">
            {% gravatar follower.gravatar 25 %}
            </p>
            <p class="no-margin">
            {{ follower|profile_url:follower.user.username }}
            </p>
            </div>
            {% empty %}
            <p>{{ profile }} has not follower yet.</p>
            {% endfor %}
          </div>
          <div class="tab-pane" id="following">
            {% for followee in profile.following %}
            <div class="stream">
            <p class="pull-left space-right">
            {% gravatar followee.gravatar 25 %}
            </p>
            <p class="no-margin">
            {{ followee|profile_url:followee.user.username }}
            </p>
            </div>
            {% empty %}
            <p>{{ profile }} don't follow anyone yet.</p>
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="span5">
      <ul class="nav nav-tabs">
          <li class="active"><a href="#projects"><i class="icon-book"></i> 
            Projects</a></li>
          <li><a href="#starred"><i class="icon-star"></i> Starred</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="projects">
          <ul class="unstyled projects">
            {% for project in profile.projects|restrict:user %}
            <li>
                <i class="gray icon-{% if project.public %}un{% endif %}lock"></i>
                <a href="{{ project.link }}">{{ project.name }}</a>
            </li>
            {% empty %}
            <li>{{ profile }} has no public projects.</li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane" id="starred">
          <ul class="unstyled projects">
            {% for starred in profile.starred|restrict:user %}
            <li>
                <i class="gray icon-{% if starred.public %}un{% endif %}lock"></i>
                <a href="{{ starred.link }}">{{ starred.name }}</a>
            </li>
            {% empty %}
            <li>{{ profile }} has no starred project yet.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
