{% extends "base.html" %}
{% load gravatar %}
{% load url from future %}
{% load markdown_deux_tags %}
{% load activity_tags %}
{% load rbx %}
{% load crispy_forms_tags %}

{% block title %}{% title project.name %}{% endblock %}

{% block content %}
<div class="billboard">
  <div class="container">
    <h1 class="collapse-bottom">
      <i class="icon-{% if project.public %}un{% endif %}lock icon-small"></i>
      {{ project.name }}
      {% if project|is_editable:user %}
      <a href="{{ project.edit_link }}"
         title="Edit project" class="space-left undecorated modal-fragment"
         data-target="#edit-modal" rel="tooltip">
      <i class="icon-pencil icon-small"></i> <span class="tiny hidden-desktop">Edit project</span></a>
      {% endif %}
    </h1>
    <div class="row-fluid">
      <div class="span7">
        <div class="btn-group">
            <a class="btn" href="{{ project.star_link }}">
                <i class="icon-star{% if user|is_following:project %}-empty{% endif %}"></i>
                {% if user|is_following:project %}Uns{% else %}s{% endif %}tar
            </a>
            {% if project.boxes|length == 1 %}
              {% for box in project.boxes %}
                <a class="btn" href="{{ box.link }}">
                <i class="icon-cog"></i> Run now 
                </a>
              {% endfor %}
            {% elif project.boxes|length > 1 %}
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i> Run now 
            </button>
            <ul class="dropdown-menu">
              {% for box in project.boxes %}
              <li><a href="{{ box.link }}">{{ box.name }} box</a></li>
              {% endfor %}
            </ul>
            {% endif %}
        </div>
        <ul class="unstyled space-top">
          <li><i class="icon-{{ project.authors|length|pluralize:"user,group" }}"></i> By
            {% for author in project.authors %}
              {{ author|profile_url:author.user.username }}{% if not forloop.last %},{% endif %}
            {% endfor %}
            <a href="{{ project.rights_link }}"
                title="Manage rights" class="space-left undecorated modal-fragment"
                data-target="#rights-modal" rel="tooltip">
            <i class="icon-plus-sign"></i></a>
          </li>
          <li><i class="icon-time"></i> Created {{ project.created|timesince }} ago</li>
        </ul>
      </div>
      <div class="span5">
        <ul class="stats unstyled">
          <li>
            <a href="#latest-runs">
            <i class="icon-cogs"></i>
            <strong>{{ project.runs|length }}</strong>
            <span>run{{ project.runs|length|pluralize }}</span>
            </a>
          </li>
          <li>
            <a href="#boxes">
            <i class="icon-briefcase"></i>
            <strong>{{ project.boxes|length }}</strong>
            <span>box{{ project.boxes|length|pluralize:"es" }}</span>
            </a>
          </li>
          <li>
            <a href="#stargazers">
            <i class="icon-star"></i>
            <strong>{{ project.stargazers|length }}</strong>
            <span>stargazer{{ prorject.stargazers|length|pluralize }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container space-top">
  <div class="row-fluid">
    <div class="span7">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#desc"><i class="icon-file"></i>  Description</a></li>
        <li><a href="#boxes"><i class="icon-briefcase"></i> Boxes</a></li>
        <li><a href="#stargazers"><i class="icon-star"></i> Stargazers</a></li>
        <li><a href="#activity"><i class="icon-bullhorn"></i> Activity</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active justify" id="desc">
        {% if project.description %}
          {{ project.description|markdown }}
        {% else %}
          <p>No description available for this project.</p>
        {% endif %}
        </div>
        <div class="tab-pane" id="boxes">
          <div class="box-list">
            {% for box in project.boxes %}
            <h3><a href="{{ box.link }}">
                {{ box.name }} box</a></h3>
            <div class="row-fluid space-bottom">
              <div class="span3">
                {{ box.run_set.values|length }} run{{ box.run_set.values|pluralize }}<br />
                {% if box.avg_duration %}
                Avg. {{ box.avg_duration|elapsed }}
                {% endif %}
              </div>
              <div class="span9">
                <p>
                  {% if box.description %}{{ box.description }}
                  {% else %}No box description available.{% endif %}
                </p>
              </div>
            </div>
            {% empty %}
            <div class="row-fluid">
              <div class="span12">
                <p>No boxes configured for this project yet.</p>
              </div>
            </div>
            {% endfor %}
            {% if box_error %}
            <div class="row-fluid">
              <div class="span12">
              {% crispy box_form %}
              </div>
            </div>
            {% endif %}
          </div>
          {% if project|is_editable:user and not box_error %}
          <button class="btn btn-primary space-top new_box">Add a new box</button>
          {% endif %}
        </div>
        <div class="tab-pane" id="stargazers">
          {% for profile in project.stargazers %}
          <div class="stream">
            <p class="pull-left space-right">
            {% gravatar profile.gravatar 25 %}
            </p>
            <p class="no-margin">
            {{ profile|profile_url:profile.user.username }}
            </p>
          </div>
          {% empty %}
          <p>This project has no stargazers yet.</p>
          {% endfor %}
        </div>
        <div class="tab-pane" id="activity">
        <p>No project activity available right now.</p>
        <!--
          {# for event in project.activity %}
          <div class="stream">
            <p class="pull-left space-right">
            {% gravatar event.actor.gravatar 32 %}
            </p>
            <p class="no-margin">
            {# event.actor|profile_url:event.actor.user.username }}
            {{ event.verb }} {{ event.target }}
            <small>{{ event.timesince }} ago</small>
            </p>
          </div>
          {% endfor #}
        -->
        </div>
      </div>
    </div>
    <div class="span5">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#latest-runs" data-toggle="tab">
          <i class="icon-cogs"></i> Latest runs</a></li>
        <li><a href="#my-runs" data-toggle="tab">
          <i class="icon-cog"></i> My latest runs</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="latest-runs">
          <ul class="unstyled runs">
            {% for run in project.runs %}
            <li>
              <a href="#" class="idx pull-right">#{{ run.pk }}</a>
              {% gravatar run.user.gravatar 20 %} 
              {{ run.user|profile_url:run.user.user.username }}, 
              {{ run.launched|timesince }} ago<br />
              <small class="space-left">
                {{ run.status_text }},
                using <a href="{{ run.box.link }}">
                {{ run.box.name }} box</a>{% if run.status > 3 %},
                in {{ run.duration|elapsed }}{% endif %}
              </small>
            </li>
            {% empty %}
            <li>No run for the moment.</li>
            {% endfor %}
          </ul>
        </div>
        <div class="tab-pane" id="my-runs">
          <ul class="unstyled runs">
            {% for run in project.runs|own_run:user %}
            <li>
              <a href="#" class="idx pull-right">#{{ run.pk }}</a>
              <i class="icon-time"></i> {{ run.launched|timesince }} ago<br />
              <small class="space-left">
                {{ run.status_text }}, 
                using <a href="{{ run.box.link }}">
                {{ run.box.name }} box</a>{% if run.status > 3 %},
                in {{ run.duration|elapsed }}{% endif %}
              </small>
            </li>
            {% empty %}
                {% if user.is_authenticated %}
                <li>You have never run this project.</li>
                {% else %}
                <li><a href="{% url "login" %}">Sign in</a> to run this project!</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="edit-modal" class="modal hide fade" tabindex="-1" role="dialog"
      aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editModalLabel">Edit project</h3>
  </div>
  <div class="modal-body">
  <p class="loading">Loading content...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary submit-change">Save changes</button>
  </div>
</div>

<div id="rights-modal" class="modal hide fade" tabindex="-1" role="dialog"
      aria-labelledby="rightsModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="rightsModalLabel">Manage rights</h3>
  </div>
  <div class="modal-body">
    <p class="loading">Loading content...</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-primary submit-change">Grant user right</button>
  </div>
</div>



<script type="text/html" id="tpl_box_form">
<div class="row-fluid">
  <div class="span12">
  {% crispy box_form %}
  </div>
</div>
</script>

{% endblock %}
